#hero blockquote {
    border: none;
}
@media (max-width: 768px) {
    #top #top-nav-main ul {
        text-align: center;
    }
    #top #top-nav-main ul > li {
        display: inline;
        margin-right: 1em;
    }
    #top #top-nav-main ul > li:last-child {
        margin-right: 0;
    }
    #top {
        padding-top: 10px;
    }
}
footer#footer {
    margin: 104px 0 0;
}
a {
    text-decoration: none;
}
pre,
code,
pre code {
  word-break: break-all;
}
#top #top-nav-main a {
    color: #3794de;
    font-size: 18px;
}
#top #top-nav-main a.active {
    color: #145e99;
    border-bottom: 2px solid #90d3d7;
}
#top #top-nav-extra img {
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    /* Yeah _technically_ this is wrong but it looks okay-ish */
    vertical-align: text-top;
    opacity: 0.8;
}
#top #top-nav-extra a {
    /* background: #96ffeb; */
    /* background: linear-gradient(to right,#96ffeb,#71d8dd); */
    background: linear-gradient(to right,#a5ffee,#63e6ec);
    color: #14221f;
    border: 1px solid rgb(22, 113, 104);
    font-size: 1.0rem;
}
#nav-toggle-brand a {
    vertical-align: text-bottom;
    /* Yes this is extremely ugly */
    position: relative;
    top: -0.24rem;
}
#top #top-brand a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    vertical-align: text-top;
    /* Only for extreme in-between-breakpoint weirdness */
    line-height: 2rem;
}
/* #top #top-brand #top-brand-logo { */
#top-brand-logo {
    width: 46px;
    vertical-align: bottom;
    object-fit: contain;
    height: 34px;
    object-position: center;
    background: #00253f;
    margin-right: 0.4rem;
}
.pagination .button.small {
    min-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.pagination .next a, .pagination .prev a {
    border-width: 2px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #011714;
        color: #eefdff;
    }
    a {
        color: #27b0e6;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #eefdff;
    }
    .message h1,
    .message h2,
    .message h3,
    .message h4,
    .message h5,
    .message h6 {
        color: #0d0d0e;
    }
    #hero p {
        color: #9badad;
    }
    #contents {
        background: #072533;
    }
    #contents a {
        color: #27b0e6;
    }
    #contents a:before {
        color: #9badad;
    }
    #hero blockquote {
        color: #9badad;
    }
    #nav-toggle-brand a {
        color: #eefdff;
    }
    #nav-toggle {
        color: #eefdff;
    }
    code, kbd, mark, samp {
        color: #eefdff;
        background: #344246;
    }
    footer p {
        color: #eefdff;
    }
    #components .item {
        background: #072533;
    }
    #components p {
        color: #9badad;
    }
    #top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    #top #top-nav-main {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
    #top #top-nav-main a.active {
        color: #9bc8ec;
    }
    #top #top-nav-main a:hover {
        color: #9bc8ec;
    }
    .pager a {
        color: #9badad;
        border-color: #364b4b;
    }
    #posts time {
        color: #9badad;
    }
    blockquote {
        color: #eefdff;
        border-left: 4px solid #496166;
    }
}
