#top #top-brand a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.2rem;
}
#hero blockquote {
    border: none;
}
@media (max-width: 768px) {
    #top #top-nav-main ul {
        text-align: center;
    }
    #top #top-nav-main ul > li {
        display: inline;
        margin-right: 1em;
    }
    #top #top-nav-main ul > li:last-child {
        margin-right: 0;
    }
    #top {
        padding-top: 10px;
    }
}
footer#footer {
    margin: 104px 0 0;
}
a {
    text-decoration: none;
}
pre,
code,
pre code {
  word-break: break-all;
}
#top #top-nav-main a {
    color: #3794de;
    font-size: 18px;
}
#top #top-nav-main a.active {
    color: #145e99;
    border-bottom: 2px solid #90d3d7;
}
#top-nav-extra img {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 0.8;
}
.pagination .button.small {
    min-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.pagination .next a, .pagination .prev a {
    border-width: 2px;
}
